@import url(https://fonts.googleapis.com/css?family=Spicy+Rice);
@import url(https://fonts.googleapis.com/css?family=Sansita+One);

body{
    background-color: #E7E8C8;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;
    width: 100%;
}

#navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: black;
    color: #DC3522;
    font-size: 24px;
    font-family: 'Spicy Rice', cursive;
    padding: 0 15px 0 15px;
    display:inline-flex;
    justify-content:space-between;
    align-items:baseline;
}

.childrenWrapper{
    position: relative;
    width: 100%;
    top:63px;
}

.link{
    display:inline;
    color:white;
    margin-left: 20px;
}

.releasesHeader{
    position: fixed;
    z-index: 2;
    width: 100%;
    top:63px;
    background-color: #2A2C2B;
    color: aliceblue;
    padding-top: 5px;
    display:inline-flex;
    align-items: center;
    font-size: 20px;
    h4{
        position: relative;
        margin: 0px auto;
    }
}

.releasesWrapper{
    padding: 40px;    
}

.releasesFooter{
    width: 100%;
    background-color: #2A2C2B;
    color: aliceblue;
    display:inline-flex;
    justify-content:center;
    align-items:baseline;
    padding: 10px 0;
    Button{
        margin: 0px 10px;
    }
}

.releaseWrapper{
    display:inline-flex;
    justify-content:space-around;
    
    margin: 10px;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    background-color: #043C53;
    color: white;
    padding: 10px;
    img{
        width: 30%;
        max-width: 150px;
        height: 30%;
    }
    ul{
        margin-top: 5px;
    }
    li{
            
    }
    .releaseTitle{
        font-size: 18px;
        font-family: 'Sansita One', cursive;
        color: #FDD24F;
        list-style-type:none;
        margin-bottom: 10px;
    }
}



