@import url(https://fonts.googleapis.com/css?family=Spicy+Rice);
@import url(https://fonts.googleapis.com/css?family=Sansita+One);

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

body{
    background-color: #374140;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;
    width: 100%;
}

.Alert{
    position: relative;
    top:-10px;
    color: red;
    text-align: left;
    font-size: 16px;
}

#navbar{
    position: fixed;
    z-index: 2;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: black;
    color: #DC3522;
    font-size: 24px;
    font-family: 'Spicy Rice', cursive;
    padding: 0 15px 0 15px;
    display:inline-flex;
    justify-content:space-between;
    align-items:baseline;
    
    h2{
        cursor: pointer;
    }
    
    .navGly{
        cursor: pointer;
        color:white;
        margin-right: 10px;
        &:hover{
            color: coral;
        }
        &:active{
            top: 3px;
        }
    } 
    .navGlySelected{
        cursor: pointer;
        color:red;
        margin-right: 10px;
    }     
}

.childrenWrapper{
    position: relative;
    width: 100%;
    top:63px;
    .hideLoading{
        display: none;
    }
    .showLoading{
        display: block;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: calc(100vh - 63px);
        background-color: #374140;
        color: white;
        .spinning{
            animation: spin 1s infinite linear;
            position: relative;
            left: 50%;
            top: 50%;
            font-size: 36px;
        }
    }
}

.searchForm{
    width: 90%;
    position: relative;
    left: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #374140;
    color: white;
    text-align: center;
    .recordKeyWord{
        width: 70%;
    }
    #searchButton{
        background-color: #DC3522;
        color: white;
        font-weight: bold;
        &:hover{
            background-color: coral;    
        }
        &:active{
            top: 3px;
        }
    }
}

#searchByBarcodeWrapper{
    width: 100%;
    text-align: center;
    
    h6{
        color: white;
        font-weight: bolder;
    }
    
    #searchByCodeButton{
        background-color: #DC3522;
        color: white;
        font-weight: bold;
        &:hover{
            background-color: coral;    
        }
        &:active{
            top: 3px;
        }    
    }    
}

.historyWrapper{
    width: 90%;
    position: relative;
    left:5%;
    margin-top: 40px;
    background-color: #E7E8C8;
    border-radius: 10px;
    
    h5{
        text-align: center;
        font-weight: bold;
        padding-top:15px;
        padding-bottom:15px;
        background-color: #D9CB9E;
        margin: 0;
    }
    
    ul{
        padding-left: 0;
        width: 100%;
        
        list-style-type:none;
        li{
            cursor: pointer;
            padding: 5px 0px 5px 10px;
            &:nth-child(even){
                background-color: #79BD8E
            }
            &:hover{
                background-color: coral;
            }
        }
    }
}

.link{
    display:inline;
    color:white;
    margin-left: 20px;
    margin-right: 10px;
    cursor: pointer;
    &:active{
        color: red;
    }
    &:hover{
        color: coral;
    }
}

.releasesHeader{
    position: fixed;
    z-index: 2;
    width: 100%;
    top:62px;
    background-color: #2A2C2B;
    color: aliceblue;
    padding-top: 10px;
    
    display:inline-flex;
    align-items: center;
    font-size: 20px;
    h4{
        position: relative;
        margin: 0px auto;
        padding-right: 10px;
    }

    //height: 40px;
    padding-bottom: 10px;
}

.dummyHeader{
    position: relative;
    width: 100%;
    top:0px;
    padding-top: 10px;
    visibility: hidden;
    display:inline-flex;
    align-items: center;
    font-size: 20px;
    h4{
        position: relative;
        margin: 0px auto;
        padding-right: 10px;
    }

    padding-bottom: 10px;    
}

.releasesWrapper{
    /*padding: 40px;*/
    position: relative;
    color: white;
    top: 40px;
    width: 90%;
    left: 5%;
    padding-bottom: 40px;
}

.releasesFooter{
    width: 100%;
    background-color: #2A2C2B;
    color: aliceblue;
    display:inline-flex;
    justify-content:center;
    align-items:baseline;
    padding: 10px 0;
    position: relative;
    bottom:0px;
    Button{
        margin: 0px 10px;
    }
}

.displayReleaseWrapper{
    display:inline-flex;
    justify-content:space-around;
    cursor: pointer;
    margin: 10px;
    border-style: solid;
    border-width: 0px;
    border-color: black;
    background-color: black;
    color: white;
    padding: 10px;
    img{
        width: 30%;
        max-width: 150px;
        height: 30%;
    }
    ul{
        margin-top: 5px;
    }
    li{
            
    }
    .releaseTitle{
        font-size: 18px;
        font-family: 'Sansita One', cursive;
        color: #FDD24F;
        list-style-type:none;
        margin-bottom: 10px;
    }
}

.releaseWrapper{
    position: relative;
    /*top: 39px;*/
    width: 100%;
    background-color: #374140;
    .releaseInfoWrapper{
        padding: 10px 35px 10px 10px;
        color: aliceblue;
        display:inline-flex;
        
        img{
            width: 30%;
            max-width: 150px;
            height: 30%;
        }
        ul{
            margin-top: 5px;
        }        
    }
    
    .addFav{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color: white;
        /*
        &:hover{
            color: coral;
        }
        */
    }
    
    .removeFav{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 24px;
        cursor: pointer;
        color: red;
        /*
        &:hover{
            color: coral;
        }
        */
    }
    
    .releasePriceWrapper{
        width: 100%;
        position: relative;
        margin-bottom: 15px;
        background-color: #E7E8C8;

        h5{
            text-align: center;
            font-weight: bold;
            padding-top:15px;
            padding-bottom:15px;
            background-color: #D9CB9E;
            margin: 0;
        }

        ul{
            padding-left: 0;
            width: 100%;

            list-style-type:none;
            li{
                padding: 5px 0px 5px 10px;
                &:nth-child(even){
                    background-color: #79BD8E
                }
            }
        }
    }
    
    .releaseMarketAndEbayWrapper{
        width: 100%;
        position: relative;
        margin-bottom: 15px;
        background-color: #374140;

        h5{
            text-align: center;
            font-weight: bold;
            padding-top:15px;
            padding-bottom:15px;
            background-color: #D9CB9E;
            margin: 0;
        }
        
        button{
            background-color: white;
            border-radius: 50%;
            border-width: 0px;
            margin-left: 10px;
            width:30px;
            height: 30px;
            text-align: center;
            position: relative;
            &:active{
                top: 3px;    
            }
        }
        
       .pricePanel{
            background-color: #E7E8C8;
            border-radius: 0;
            border-width: 0px;
            padding: 0;
        }
    }
    
    .releaseTracklistWrapper{
        background-color: #FCAF3B;
        color: black;
        h5{
            text-align: center;
            font-weight: bold;
            padding-top:15px;
            padding-bottom:15px;
            background-color: #BD4932;
            color: white;
            margin: 0;
        }

        ul{
            padding-left: 0;
            width: 100%;

            list-style-type:none;
            li{
                padding: 5px 0px 5px 10px;
                &:nth-child(even){
                    background-color: #FDD24F
                }
            }
        }
        .track{
            
            .trackSection{
                display:flex;
                justify-content:space-between;
                
                .noPosition{
                    border-radius: 5%;
                    padding: 5px;
                    background-color: black;
                    color: white;    
                }
                
                section{
                    display:inline-flex; 
                    justify-content:flex-start;
                    align-items:center;
                }
                Button{
                    margin-left: 15px;
                    margin-right: 15px;
                    border-radius: 5px;
                    border-width: 0;
                }
            }

            .whosampledWrapper{
                width: 98%;
                ul{
                    text-align: left;
                    padding-left: 0;
                    width: 100%;
                    list-style-type:none;
                    width: 100%;

                    li{
                        align-items:center;
                        display:flex;
                        justify-content:flex-start;
                        background-color: #F2FFE3;
                        padding: 5px 10px 5px 10px;
                        font-weight: bolder;
                        &:nth-child(even){
                            background-color: #BFEBA0;    
                        }
                        &:first-child { 
                            margin-top: 10px;
                        }
                        
                        img{
                            margin-right: 5px;
                            width: 60px;
                            height: 60px;
                        }
                    }
                }
            } 
        }
    }
}


.hidden{
    display: none;
}

.spinning{
    animation: spin 1s infinite linear;
    pointer-events: none;
}

.ebayHide{
    display: none;
}

.ebayShow{
    
}

.MarketplaceAndEbayHide{
    display: none;
}

.MarketplaceAndEbayShow{
    width: 100%;
    text-align: center;

    ul{
        text-align: left;
        padding-left: 0;
        width: 100%;
        list-style-type:none;
        
        li{
            padding: 5px 0px 5px 10px;
            background-color: lightcoral;;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }
    
    dl{
        text-align: left;
        width: 100%;
        list-style-type:none;
        padding: 5px 0px 5px 10px;
        background-color: lightcoral;;
        margin-bottom: 10px;
        border-radius: 10px;
    }
}

#releaseModalBody{
    text-align: center;
    font-weight: bolder;
}

#favUl{
    padding-top: 40px;
    padding-left: 0;
    width: 100%;
    color: white;

    list-style-type:none;
    li{    
        background-color: #92AA9D;
        padding: 5px 10px 5px 10px;
        &:nth-child(even){
            background-color: #D1DCBE
        }
        display: flex;
        justify-content:space-between;
        align-items:baseline;
        font-weight: bolder;
        p{
            cursor: pointer;    
        }
    }    
}

.quaggaWrapper{
    width: 100%;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    padding: 5px;
    background-color: #DC3522;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    &:hover{
        background-color: coral;    
    }
}

.playbutton{
    border-width: 0;
    cursor: pointer;
    background-color: green;
}

button{
    cursor:pointer;
}

#shopWrapper{
    padding-top: 45px;
    padding-left: 0;
    width: 100%;
    color: white;  
    
    .shopHide{
        display: none;
    }
    .shopShowGly{
        text-align: center;
    }
    .shopListWRapper{
        
        .shopList{
            display:inline-flex;
             align-items:center;
            margin: 10px;
            border-style: solid;
            border-width: 0px;
            border-color: black;
            background-color: black;
            color: white;
            padding: 10px;
            
            img{
                width: 100px;
                height: 100px;
            }
            
            dl{
                margin-left: 10px;
                
                dt{
                    font-family: 'Sansita One', cursive;
                    color: #FDD24F;
                }
            }
        }        
    }
}

.whoSpotify{
    background-color: black;
    color: white;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
}